* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --black: #050505;
    --white: #f3f3f3;
}

body,
.form {
    display: flex;
    background-color: var(--white);
}

.left-section {
    background-image: url("/images/nature-edit.jpg");
    background-color: var(--black);
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    width: 70%;
    padding-top: 15%;
    padding-bottom: 40%;
}

.left-section-body img {
    opacity: 0.5;
    width: 100%;
}

.explanation p {
    font-size: 1.5rem;
}

.explanation {
    padding-top: 25%;
    padding-bottom: 10%;
}

.right-section {
    color: var(--black);
    padding: 0 5%;
}

ul {
    list-style: none;
    display: flex;
    font-size: 1.2rem;
}

li {
    display: flex;
    flex-direction: column;
    margin-bottom: 5%;
    margin-right: 15%;
}

input {
    width: 100%;
    height: 25px;
}

label {
    display: inline-block;
    width: 200px;
}

button {
    background-color: var(--black);
    color: var(--white);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 1rem;
    margin-top: 25px;
    margin-bottom: 10px;
    padding: 10px 30px;
}

button:active {
    border: 2px solid var(--black);
}

.account p {
    font-size: 1rem;
}

span {
    color: blue;
    font-weight: bold;
    text-decoration: underline;
}

input:valid {
    border: 1px solid var(--black);
    border-radius: 7px;
}

input:invalid{
    border: 1px solid red;
    border-radius: 7px;
}